<b-row class="p-4">
  <b-col>
    <div class="card">
      <div class="card-close">
        <div class="dropdown">
          <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i
              class="fa fa-ellipsis-v"></i></button>
          <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow">
            <a href="#" class="dropdown-item remove">
              <i class="fa fa-times"></i> Cerrar
            </a>
            <a href="#" class="dropdown-item edit">
              <i class="fa fa-gear"></i> Editar
            </a>
          </div>
        </div>
      </div>
      <div class="card-header d-flex align-items-center">
        <h3 class="h4">Mantenimiento de Empleados</h3>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="form-control-label">Nombre </label>
                <input type="text" name="Nombre" v-validate="'required'" :class="errors.has('Nombre') ? 'border-danger' : ''"
                  v-model="model.name" class="form-control">
                <span class="text-danger" v-show="errors.has('Nombre')">{{ errors.first('Nombre') }}</span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="form-control-label">Identificación </label>
                <input type="text" name="Identificación" v-validate="'required'" :class="errors.has('Identificación') ? 'border-danger' : ''"
                  v-model="model.identification" class="form-control">
                <span class="text-danger" v-show="errors.has('Identificación')">{{ errors.first('Identificación') }}</span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="form-control-label">Departamento </label>
                <input type="text" name="Departamento" v-validate="'required'" :class="errors.has('Departamento') ? 'border-danger' : ''"
                  v-model="model.department" class="form-control">
                <span class="text-danger" v-show="errors.has('Departamento')">{{ errors.first('Departamento') }}</span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="form-control-label">Puesto </label>
                <input type="text" name="Puesto" v-validate="'required'" :class="errors.has('Puesto') ? 'border-danger' : ''"
                  v-model="model.jobTitle" class="form-control">
                <span class="text-danger" v-show="errors.has('Puesto')">{{ errors.first('Puesto') }}</span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="form-control-label">Salario </label>
                <input type="number" name="Salario" v-validate="'required'" :class="errors.has('Salario') ? 'border-danger' : ''"
                  v-model="model.montSalary" class="form-control">
                <span class="text-danger" v-show="errors.has('Salario')">{{ errors.first('Salario') }}</span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="form-control-label">¿Esta inactivo? </label>
                <br>
                <input type="checkbox" id="checkbox" v-model="model.disabled">
              </div>
            </div>

          </div>

          <div class="form-group">
            <b-button variant="primary" @click="saveData()"> Guardar </b-button>
            <b-button class="pull-right" variant="default" @click="cleanModel()"> Limpiar </b-button>
          </div>
        </form>
      </div>
    </div>


  </b-col>
  <b-col cols="12">
    <div class="card">
      <div class="card-close">
        <div class="dropdown">
          <button type="button" id="closeCard2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i
              class="fa fa-ellipsis-v"></i></button>
          <div aria-labelledby="closeCard2" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove">
              <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
        </div>
      </div>
      <div class="card-header d-flex align-items-center">
        <h3 class="h4">Tipos de empleados Agregados</h3>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Identificacion</th>
                <th scope="col">Departamento</th>
                <th scope="col">Puesto</th>
                <th scope="col">Salario</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(employee, $index) in employees">
                <th scope="row">{{$index + 1}}</th>
                <td>{{employee.name}}</td>
                <td>{{employee.identification}}</td>
                <td>{{employee.department}}</td>
                <td>{{employee.jobTitle}}</td>
                <td>{{employee.montSalary}}</td>
                <td>
                  <b-btn variant="info" size="sm" @click.stop="mapEmployee(employee)">Editar</b-btn>
                  <b-btn variant="danger" size="sm" @click.stop="deleteData(employee)">Borrar</b-btn>
                </td>
              </tr>
            </tbody>
            <tfoot v-if="!employees.length">
              <tr class="text-center">
                <td colspan="7"><b>No hay registros</b></td>
              </tr>
            </tfoot>
          </table>

        </div>
      </div>
    </div>
  </b-col>
</b-row>